* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*------------*/

body{
  background-color: rgb(119, 118, 118);
}
h2{
  display: inline-block;
  background-color: brown;
  font-size: 20px;
  color: rgb(12, 12, 12);
}
p{
  width: 500px;
  font-size: 18px;
  background-color: blueviolet;
}
span{
  color: aqua;
  font-style: 30px;
}
ul{
  font-size: 20px;
  padding: 10px;
  margin-bottom: 30px;
}

/*------------*/
.firstExemple li:first-child{
color: blue;
}
/*------------*/
.secondExemple li:last-child{
color: blue;
}
/*------------*/
.thirdExemple li:nth-child(3){
color: blue;
}
/*------------*/
.fourthExemple li:nth-child(odd){
  color: blue;
}
/*------------*/
.fifthExemple li:nth-child(even){
  color: blue;
}
/*------------*/

.comboExemple li:first-child:hover{
  color: blue;
  background-color: red;
  display: inline-block;
  
}