/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
h2{
  display: inline-block;
  background-color: #ec9da9;
  font-size: 25px;

}

p{
  padding: 10px;
  background-color: #ce2740 ;
  border-radius: 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
}

/*--------------------*/

.wrapper {
  padding: 50px;
  border: 2px solid black;
}
.block {
  border: 2px solid red;
}
.block__row {
  border: 20px solid #ece89d;
  margin: 0px 0px 20px 0px;
}
.block__column {
  border: 20px solid #5e5373;
}
.block__item {
  background-color: #18b5a4;
  padding: 30px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  border: 2px solid white;
}

/*--------------------*/
/*--------------------*/
.block__list {
  border: 2px solid blue;
  padding: 5px;
}
.block__info {
  color: rgb(57, 1, 1);
  font-size: 30px;
  display: inline;
}
.block__info_y {
  background: #ece89d;
}
.block__info_p {
  background-color: #5e5373;
}
.block__info_g {
  background-color: #18b5a4;
}
/*--------------------*/
/*--------------------*/

.Secondwrapper {
  padding: 50px;
  border: 2px solid black;
}
.Secondblock {
  border: 2px solid red;
}
.Secondblock__row {
  display: flex;
  border: 20px solid #ece89d;
  margin: 0px 0px 20px 0px;
}
.Secondblock__column {
  border: 20px solid #5e5373;
}
.Secondblock__item {
  background-color: #18b5a4;
  padding: 30px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  border: 2px solid white;
}

/*--------------------*/
/*--------------------*/

.Thirdwrapper {
  padding: 50px;
  border: 2px solid black;
}
.Thirdblock {
  border: 2px solid red;
}
.Thirdblock__row {
  border: 20px solid #ece89d;
  margin: 0px 0px 20px 0px; 
  display: flex;
  column-gap: 30px;
}
.Thirdblock__column {
  border: 20px solid #5e5373;row-gap: 20px;
}
.Thirdblock__item {
  background-color: #18b5a4;
  padding: 30px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  border: 2px solid white;
}

/*--------------------*/
/*--------------------*/

.Fourthwrapper {
  padding: 50px;
  border: 2px solid black;
}
.Fourthblock {
  border: 2px solid red;
}
.Fourthblock__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  border: 20px solid #ece89d;
  margin: 0px 0px 20px 0px;
}
.Fourthblock__column {
  border: 20px solid #5e5373;
}
.Fourthblock__item {
  background-color: #18b5a4;
  padding: 30px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  border: 2px solid white;
}

/*--------------------*/
/*--------------------*/

.Fifthwrapper {
  padding: 50px;
  border: 2px solid black;
}
.Fifthblock {
  border: 2px solid red;
}
.Fifthblock__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
  border: 20px solid #ece89d;
  margin: 0px 0px 20px 0px;
}
.Fifthblock__column {
  border: 20px solid #5e5373;
}
.Fifthblock__item {
  background-color: #18b5a4;
  padding: 30px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  border: 2px solid white;
}

/*--------------------*/
/*--------------------*/

