/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  padding: 50px;
}

.block {
  max-width: 800px;
  height: 500px;
  border: 5px solid red;
  margin: 0px auto;
}

.block div {
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-size: 20px;
}

.block_1 {
  background-color: #ece89d;
}
.block_2 {
  background-color: #5e5373;
  color: white;
}
.block_3 {
  background-color: #18b5a4;
}

/*----------------------------------------------*/
p {
  margin-top: 50px;
  font-size: 20px;
  padding-left: 10px;
}

span {
  background-color: goldenrod;
  font-size: 25px;
}

.redColor {
  background-color: red;
  color: white;
}
/*----------------------------------------------*/

.secondblock {
  max-width: 800px;
  height: 500px;
  border: 5px solid red;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.secondblock div {
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-size: 20px;
}

.secondblock_1 {
  background-color: #ece89d;
}
.secondblock_2 {
  background-color: #5e5373;
  color: white;
  position: sticky;
  top: 0px;
}
.secondblock_3 {
  background-color: #18b5a4;
}

/*----------------------------------------------*/

.thirdblock {
  max-width: 800px;
  height: 800px;
  border: 5px solid red;
  margin: 0px auto;
  margin-bottom: 50px;
}

.thirdblock div {
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-size: 20px;
}

.thirdblock_1 {
  background-color: #ece89d;
  position: sticky;
  top: 0px;
}
.thirdblock_2 {
  background-color: #5e5373;
  color: white;
}
.thirdblock_3 {
  background-color: #18b5a4;
}
.thirdblock_4 {
  background-color: #b5183f;
  position: sticky;
  top: 10px;
}
.thirdblock_5 {
  background-color: #3518b5;
}
.thirdblock_6 {
  background-color: #192524;
  color: white;
}
.thirdblock_7 {
  background-color: #9eb518;
  position: sticky;
  top: 0px;
}
.thirdblock_8 {
  background-color: #b56418;
}
.thirdblock_9 {
  background-color: #5c18b5;
}
.thirdblock_10 {
  background-color: #928f8c;
  width: 50%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
}
.thirdblock_11 {
  background-color: #18b520;
}
.thirdblock_12 {
  background-color: #b018b5;
}
/*----------------------------------------------*/

